.things.span17
  - @items.each do |item|
    .thing.span8.pull-left
      %a{:href => item.detail_url, :target => '_blank'}
        %img.pic_url{:src => item.pic_url}
      .info
        %a.title{:href => item.detail_url, :target => '_blank'}= item.title
        %br/
        - if item.coupon_price.to_s.strip.size > 0
          %span.coupon_price= "&yen;&nbsp;#{item.coupon_price}&nbsp;".html_safe
        - if item.coupon_price.to_s.strip.size > 0
          %span.price.sale= "&yen;&nbsp;#{item.price}".html_safe
        - else 
          %span.price= "&yen;&nbsp;#{item.price}".html_safe
        %a.item_link.pull-right{:href => "/i/#{item.id}", :target => '_blank'}= "看看去 <i class='icon-double-angle-right icon-large'></i>".html_safe
.sidebr.span7
  - @sections.each do |section|
    .section
      %a.section{:href => "/s/#{section.id}", :target => '_blank'}= section.name
      .nodes
        - section.nodes.each do |node|
          %a.btn.btn-mini.node.pull-left{:href => "/n/#{node.id}", :target => '_blank'}= node.name

  .tags
    %a.tags{:href => "/t/", :target => '_blank'} 热门标签
    .tags_list
      - @tags.each do |tag|
        %a.btn.btn-mini.tag.pull-left{:href => "/t/#{tag.id}", :target => '_blank'}= "<i class='icon-tag'></i>&nbsp;#{tag.name}".html_safe
    
