= form_for(@image, :html => {:class => 'form-horizontal'} ) do |f|
  - if @image.errors.any?
    .alert.alert-error
      %button.close{"data-dismiss" => "alert", :type => "button"} x
      = I18n.t('errors.messages.not_saved', count: @image.errors.count)

  .control-group{:class => ('error' unless @image.errors[:name].empty?)}
    = f.label :name, I18n.t('images.name'), :class => 'control-label', :style => 'width:80px'
    .controls{:style => 'margin-left:100px;'}
      = f.text_field :name, :autofocus => true
      %span.help-inline= @image.errors[:name].first unless @image.errors[:name].empty?
  .control-group{:class => ('error' unless @image.errors[:src].empty?)}
    = f.label :src, I18n.t('images.src'), :class => 'control-label', :style => 'width:80px'
    .controls{:style => 'margin-left:100px;'}
      = f.file_field :src, :autofocus => true
      %span.help-inline= @image.errors[:src].first unless @image.errors[:src].empty?
  .control-group{:class => ('error' unless @image.errors[:summary].empty?)}
    = f.label :summary, I18n.t('images.summary'), :class => 'control-label', :style => 'width:80px'
    .controls{:style => 'margin-left:100px;'}
      = f.text_area :summary, :autofocus => true
      %span.help-inline= @image.errors[:summary].first unless @image.errors[:summary].empty?


  .control-group
    .controls{:style => 'margin-left:100px;'}
      = f.submit I18n.t('images.submit'), :class => 'btn btn-mini btn-success'
